on:
  pull_request:
    branches: [ 'main', 'develop' ]
  push:
    branches: [ 'main', 'develop' ]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.24' ]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
          cache: true
      - name: Run Linters
        run: make lint

  unit-test:
    needs: [ lint ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.24' ]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
          cache: true
      - name: Run Unit tests
        run: make test
